
aspnet-core/AspNetZeroRadTool/Microsoft.Win32.Registry.dll

aspnet-core/AspNetZeroRadTool/runtimes/unix/lib/netcoreapp2.0/System.Security.Principal.Windows.dll

aspnet-core/AspNetZeroRadTool/runtimes/unix/lib/netstandard2.0/Microsoft.Win32.Registry.dll

aspnet-core/AspNetZeroRadTool/runtimes/win/lib/netcoreapp2.0/System.Security.AccessControl.dll

aspnet-core/AspNetZeroRadTool/runtimes/win/lib/netcoreapp2.0/System.Security.Principal.Windows.dll

aspnet-core/AspNetZeroRadTool/runtimes/win/lib/netstandard2.0/Microsoft.Win32.Registry.dll

aspnet-core/AspNetZeroRadTool/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.Pkcs.dll

aspnet-core/AspNetZeroRadTool/System.Collections.Immutable.dll

aspnet-core/AspNetZeroRadTool/System.Memory.dll

aspnet-core/AspNetZeroRadTool/System.Security.AccessControl.dll

aspnet-core/AspNetZeroRadTool/System.Security.Principal.Windows.dll
