<div style="height: 100%" class="card card-custom">
    <div class="card-header align-items-center border-0">
        <h3 class="card-title align-items-start flex-column">
            <span class="font-weight-bolder text-dark">
                 Daily Sales
            </span>
        </h3>
        <div class="card-toolbar" *ngIf="dailySalesLineChart && !dailySalesLineChart.loading">

            <!-- <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-secondary active"
                       [ngClass]="{'active': salesSummaryChart.selectedDatePeriod ==  appSalesSummaryDateInterval.Daily}"
                       (click)="salesSummaryChart.reload(appSalesSummaryDateInterval.Daily)">
                    <input type="radio" name="SalesSummaryDateInterval"
                           [value]="appSalesSummaryDateInterval.Daily">
                    {{"Departman" | localize}}
                </label>
                <label class="btn btn-secondary"
                       [ngClass]="{'active': salesSummaryChart.selectedDatePeriod ==  appSalesSummaryDateInterval.Weekly}"
                       (click)="salesSummaryChart.reload(appSalesSummaryDateInterval.Weekly)">
                    <input type="radio" name="SalesSummaryDateInterval"
                           [value]="appSalesSummaryDateInterval.Weekly">
                    {{"Personal" | localize}}
                </label> 
            </div>-->

            <p-treeSelect  styleClass="tree-panel" [(ngModel)]="dailySalesLineChart.selectedNode" [options]="treeData"  [metaKeySelection]="false" selectionMode="multiple" placeholder="Select Item"></p-treeSelect>        
        </div>
    </div>
    <div class="card-body" [perfectScrollbar]> 
        <div class="row">
            <div class="col" style="max-height: 200px">
               
                <ngx-charts-bar-vertical-stacked *ngIf="dailySalesLineChart.showChart"
                [results]="dailySalesLineChart.multi"
                [scheme]="dailySalesLineChart.scheme"
                [showXAxisLabel]="dailySalesLineChart.showXAxisLabel"
                [showYAxisLabel]="dailySalesLineChart.showYAxisLabel"
                [xAxisLabel]="dailySalesLineChart.xAxisLabel"
                [yAxisLabel]="dailySalesLineChart.yAxisLabel"
                [xAxis]="dailySalesLineChart.showXAxis"
                [yAxis]="dailySalesLineChart.showYAxis"
                [legend]="dailySalesLineChart.showLegend"
                [view]="dailySalesLineChart.view"
                [legendPosition] ="dailySalesLineChart.legendPosition"
                >
                    <!-- <ng-template #tooltipTemplate let-model="model">
                        <span>Day {{model.name}}</span>
                        <br />
                        <span>{{model.value}}</span>
                    </ng-template> -->
                </ngx-charts-bar-vertical-stacked>
            </div>
        </div>
    </div>
</div>
