<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="'Severities' | localize" [description]="'SeveritiesHeaderInfo' | localize">
            <div role="actions">
                <button (click)="exportToExcel()" class="btn btn-outline-success">
                    <i class="fa fa-file-excel"></i> {{ l('ExportToExcel') }}
                </button>

                <button
                    *ngIf="isGranted('Pages.Severities.Create')"
                    (click)="createSeverity()"
                    class="btn btn-primary blue"
                >
                    <i class="fa fa-plus"></i> {{ l('CreateNewSeverity') }}
                </button>
            </div>
        </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <form class="form" autocomplete="off">
                        <div>
                            <div class="row align-items-center">
                                <div class="col-xl-12">
                                    <div class="form-group m-form__group align-items-center">
                                        <div class="input-group">
                                            <input
                                                [(ngModel)]="filterText"
                                                name="filterText"
                                                autoFocus
                                                class="form-control m-input"
                                                [placeholder]="l('SearchWithThreeDot')"
                                                type="text"
                                            />
                                            <span class="input-group-btn">
                                                <button (click)="getSeverities()" class="btn btn-primary" type="submit">
                                                    <i class="flaticon-search-1"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" [hidden]="!advancedFiltersAreShown">
                                <div class="col-md-12">
                                    <div class="separator separator-dashed"></div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="NameFilter">{{ l('Name') }}</label>
                                        <input
                                            type="text"
                                            class="form-control"
                                            id="NameFilter"
                                            name="nameFilter"
                                            [(ngModel)]="nameFilter"
                                        />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="MinOrderFilter">{{ l('MinMax') }} {{ l('Order') }}</label>
                                        <div class="input-group">
                                            <input
                                                type="number"
                                                class="form-control"
                                                id="MinOrderFilter"
                                                [(ngModel)]="minOrderFilter"
                                                placeholder="{{ l('MinValue') }}"
                                                name="minOrderFilter"
                                            />
                                            <input
                                                type="number"
                                                class="form-control"
                                                [(ngModel)]="maxOrderFilter"
                                                placeholder="{{ l('MaxValue') }}"
                                                name="maxOrderFilter"
                                            />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="MinInsertedDateFilter">{{ l('InsertedDateRange') }}</label>
                                        <div class="input-group">
                                            <input
                                                class="form-control m-input"
                                                id="MinInsertedDateFilter"
                                                name="MinInsertedDateFilter"
                                                type="datetime"
                                                bsDatepicker
                                                placeholder="{{ l('MinValue') }}"
                                                [(ngModel)]="minInsertedDateFilter"
                                            />
                                            <span style="line-height: 40px; padding: 0 15px 0 15px"> &mdash; </span>
                                            <input
                                                class="form-control m-input"
                                                id="MaxInsertedDateFilter"
                                                name="MaxInsertedDateFilter"
                                                type="datetime"
                                                bsDatepicker
                                                placeholder="{{ l('MaxValue') }}"
                                                [(ngModel)]="maxInsertedDateFilter"
                                            />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-sm-12">
                                    <span
                                        class="clickable-item text-muted"
                                        *ngIf="!advancedFiltersAreShown"
                                        (click)="advancedFiltersAreShown = !advancedFiltersAreShown"
                                        ><i class="fa fa-angle-down"></i> {{ l('ShowAdvancedFilters') }}</span
                                    >
                                    <span
                                        class="clickable-item text-muted"
                                        *ngIf="advancedFiltersAreShown"
                                        (click)="advancedFiltersAreShown = !advancedFiltersAreShown"
                                        ><i class="fa fa-angle-up"></i> {{ l('HideAdvancedFilters') }}</span
                                    >
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="row align-items-center">
                        <!--<Primeng-Datatable-Start>-->
                        <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">
                            <p-table
                                #dataTable
                                (onLazyLoad)="getSeverities($event)"
                                [value]="primengTableHelper.records"
                                rows="{{ primengTableHelper.defaultRecordsCountPerPage }}"
                                [paginator]="false"
                                [lazy]="true"
                                [scrollable]="true"
                                ScrollWidth="100%"
                                [responsive]="primengTableHelper.isResponsive"
                                [resizableColumns]="primengTableHelper.resizableColumns"
                            >
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th
                                            style="width: 130px"
                                            [hidden]="!isGrantedAny('Pages.Severities.Edit', 'Pages.Severities.Delete')"
                                        >
                                            {{ l('Actions') }}
                                        </th>
                                        <th style="width: 150px" pSortableColumn="name">
                                            {{ l('Name') }}
                                            <p-sortIcon field="severity.name"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" pSortableColumn="order">
                                            {{ l('Order') }}
                                            <p-sortIcon field="severity.order"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" pSortableColumn="name">
                                            {{ l('Icon') }}
                                        </th>
                                        <th style="width: 150px" pSortableColumn="insertedDate">
                                            {{ l('InsertedDate') }}
                                            <p-sortIcon field="severity.insertedDate"></p-sortIcon>
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit" let-i="rowIndex">
                                    <tr>
                                        <td
                                            style="width: 130px"
                                            [hidden]="!isGrantedAny('Pages.Severities.Edit', 'Pages.Severities.Delete')"
                                        >
                                            <div class="btn-group dropdown" dropdown container="body">
                                                <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                    <i class="fa fa-cog"></i><span class="caret"></span>
                                                    {{ l('Actions') }}
                                                </button>
                                                <ul class="dropdown-menu" *dropdownMenu>
                                                    <li>
                                                        <a
                                                            href="javascript:;"
                                                            class="dropdown-item"
                                                            (click)="viewSeverityModal.show(record)"
                                                            >{{ l('View') }}</a
                                                        >
                                                    </li>
                                                    <li>
                                                        <a
                                                            href="javascript:;"
                                                            *ngIf="permission.isGranted('Pages.Severities.Edit')"
                                                            class="dropdown-item"
                                                            (click)="createOrEditSeverityModal.show(record.severity.id)"
                                                            >{{ l('Edit') }}</a
                                                        >
                                                    </li>
                                                    <li>
                                                        <a
                                                            class="dropdown-item"
                                                            href="javascript:;"
                                                            *ngIf="permission.isGranted('Pages.Severities.Delete')"
                                                            (click)="deleteSeverity(record.severity)"
                                                            >{{ l('Delete') }}</a
                                                        >
                                                    </li>
                                                    <li>
                                                        <a
                                                            href="javascript:;"
                                                            *ngIf="entityHistoryEnabled"
                                                            class="dropdown-item"
                                                            (click)="showHistory(record.severity)"
                                                            >{{ l('History') }}</a
                                                        >
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td style="width: 150px">
                                            <span class="p-column-title"> {{ l('Name') }}</span>
                                            {{ record.severity.name }}
                                        </td>
                                        <td style="width: 150px">
                                            <span class="p-column-title"> {{ l('Order') }}</span>
                                            {{ record.severity.order }}
                                        </td>
                                        <td style="width: 100px">
                                            <a
                                                            href="javascript:;"
                                                            class="dropdown-item"
                                                            (click)="changeIconModal.show(record)"
                                                            >
                                                <div class="symbol symbol-50 symbol-light mt-2 mr-2">
                                                    <div class="symbol-label">
                                                        <img alt="photo"
                                                            src="{{ serverUrl + record.severity.iconUrl }}" class="h-75 align-self-end">
                                                    </div>
                                                </div>
                                                </a>
                                            <!-- <span class="p-column-title"> {{ l('Name') }}</span>
                                            {{ record.taskStatus.name }} -->
                                        </td>
                                        <td style="width: 150px">
                                            <span class="p-column-title"> {{ l('InsertedDate') }}</span>
                                            <span *ngIf="record.severity.insertedDate">
                                                {{ record.severity.insertedDate | luxonFormat: 'F' }}
                                            </span>
                                            <span *ngIf="!record.severity.insertedDate">-</span>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{ l('NoData') }}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator
                                    [rows]="primengTableHelper.defaultRecordsCountPerPage"
                                    #paginator
                                    (onPageChange)="getSeverities($event)"
                                    [totalRecords]="primengTableHelper.totalRecordsCount"
                                    [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
                                    [showCurrentPageReport]="true"
                                    [currentPageReportTemplate]="
                                        'TotalRecordsCount' | localize: primengTableHelper.totalRecordsCount
                                    "
                                >
                                </p-paginator>
                            </div>
                        </div>
                        <!--<Primeng-Datatable-End>-->
                    </div>
                </div>
            </div>
        </div>
        <createOrEditSeverityModal #createOrEditSeverityModal (modalSave)="getSeverities()"></createOrEditSeverityModal>
        <viewSeverityModal #viewSeverityModal></viewSeverityModal>
        <entityTypeHistoryModal #entityTypeHistoryModal></entityTypeHistoryModal>
        <changeIconModal #changeIconModal></changeIconModal>
    </div>
</div>
