@using PAX.Next.Web.Areas.Admin.Models.Layout
@using PAX.Next.Web.Areas.Admin.Views.Shared.Components.AdminLogo
@model HeaderViewModel
@{
    Layout = null;
}

<div class="header-logo">
    <a href="@Url.Action("Index", "Home", new {area = string.Empty})" class="brand-logo">
        @await Component.InvokeAsync(typeof(AdminLogoViewComponent), new {logoClass = "logo-default max-h-40px"})
        @await Component.InvokeAsync(typeof(AdminLogoViewComponent), new {logoSkin = "light", logoClass = "logo-sticky max-h-40px"})
    </a>
</div>
