@using Abp.Runtime.Session
@using PAX.Next.Web.Areas.Admin.Models.Layout
@using PAX.Next.Web.Areas.Admin.Views.Shared.Components.AdminLogo
@model HeaderViewModel
@{
    Layout = null;
}
<a href="@Url.Action("Index", "Home", new {area = string.Empty})" target="_blank" class="brand-logo">
    @await Component.InvokeAsync(typeof(AdminLogoViewComponent), new {logoSkin = "dark-sm"})
</a>
