@using Abp.Configuration
@using PAX.TaskManager.Configuration
@model PAX.TaskManager.Web.Areas.Admin.Models.Layout.QuickThemeSelectionViewModel
@if (SettingManager.GetSettingValue<bool>(AppSettings.UserManagement.IsQuickThemeSelectEnabled))
{
    <div id="kt_demo_panel_toggle" class="topbar-item">
        <div class="@Model.CssClass">
            <i class="flaticon-interface-7"></i>
        </div>
    </div>
}
