.p-autocomplete-input-token {
  padding: 0px;
}
.p-autocomplete-multiple-container {
  width: 100%;
}

.p-autocomplete-token
{
  border-radius: 5px !important;
  color: whitesmoke !important;
}
/* .p-inputtext{
  padding: 0px !important;
} */