<div [@routerTransition]>
    <div class="tag-button content d-flex flex-column flex-column-fluid">
        <sub-header [title]="'PaxTasks' | localize" [description]="'PaxTasksHeaderInfo' | localize">
        </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <div class="row align-items-center">
                        <!--<Primeng-Datatable-Start>-->
                        <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">
                            <form *ngIf="active" id="ngForm" #paxTaskForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                                <div class="modal-header">
                                    <h4 class="modal-title">
                                        <span *ngIf="paxTask.id">{{ l('EditPaxTask') }}</span>
                                        <span *ngIf="!paxTask.id">{{ l('CreateNewPaxTask') }}</span>
                                    </h4>
                                    <div role="actions">
                                        <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">
                                            {{ l('Cancel') }}
                                        </button>
                                        <button
                                            form="ngForm"
                                            class="btn btn-primary blue"
                                            [disabled]="!paxTaskForm.form.valid"
                                            [buttonBusy]="saving"
                                            [busyText]="l('SavingWithThreeDot')"
                                        >
                                            <i class="fa fa-save"></i> <span>{{ l('Save') }}</span>
                                        </button> 
                                    </div>
                                </div>
                                <div class="modal-body">
                                    
                                    <div  class="form-group m-form__group">
                                        <label *ngIf="reporterName" for="UserName">{{ l('Reporter') }} : {{reporterName}}</label>
                                    </div>

                                    <div *ngIf="paxTask.id" class="form-group">
                                        <label for="PaxTask_CreatedDate">{{ l('CreatedDate') }} : {{ paxTask.createdDate | luxonFormat: 'F' }}</label>
                                    </div>
                        
                                    <div class="form-group m-form__group">
                                        <label for="assigneeName">{{ l('Assignee') }}</label>
                                        <div class="input-group">
                                            <input
                                                class="form-control"
                                                id="assigneeName"
                                                name="assigneeName"
                                                [(ngModel)]="assigneeName"
                                                type="text"
                                                disabled
                                            />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary blue" (click)="openSelectUserModal()" type="button">
                                                    <i class="fa fa-search"></i> {{ l('Pick') }}
                                                </button>
                                            </div>
                                            <div class="input-group-prepend">
                                                <button class="btn btn-danger btn-icon" type="button" (click)="setAssigneeIdNull()">
                                                    <i class="fa fa-times"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <input
                                        class="form-control"
                                        name="paxTask.assigneeId"
                                        [(ngModel)]="paxTask.assigneeId"
                                        type="text"
                                        hidden
                                    />

                                    <div class="form-group row">
                                        <label for="MultiSelectDeps" class="col-lg-12">{{ l('DepandantTasks') }}</label>
                                        <div class="col-12">
                                            <p-autoComplete [(ngModel)]="depentantTasks"
                                                            [suggestions]="filteredDependants"
                                                            (completeMethod)="filterDependantTasks($event)"
                                                            (onSelect)="onSelect($event)"
                                                            panelStyleClass="tag-button"
                                                            field="dependOnHeader"
                                                            [minLength]="2"
                                                            name="MultiSelectDeps"
                                                            id="MultiSelectDeps"
                                                            [multiple]="true"
                                                            inputStyleClass="form-control"
                                                            styleClass="width-percent-100">
                                                            <ng-template let-value pTemplate="selectedItem">
                                                                <a target="_blank" style="color:white" href="{{this.clientUrl + '/app/main/taskManager/paxTasks/details?taskId=' + value.dependOnTaskId }}">{{value.dependOnHeader}}
                                                            </a> 
                                                            </ng-template> 
                                            </p-autoComplete>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="MultiSelectLabels" class="col-lg-12">{{ l('Labels') }}</label>
                                        <div class="col-12">

                                            <p-autoComplete [(ngModel)]="labels"
                                                            [suggestions]="filteredLabels"
                                                            (completeMethod)="getLabels($event)"
                                                            (onSelect)="onSelect($event)"
                                                            panelStyleClass="tag-button"
                                                            field="name"
                                                            [minLength]="2"
                                                            name="MultiSelectLabels"
                                                            id="MultiSelectLabels"
                                                            [multiple]="true"
                                                            inputStyleClass="form-control"
                                                            styleClass="width-percent-100">

                                                            <!-- <ng-template let-value pTemplate="selectedItem">
                                                                <a href="https://www.facebook.com">
                                                                <span style="font-size:18px">>{{value.name}}<</span>
                                                            </a> 
                                                            </ng-template> -->
                                            </p-autoComplete>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="MultiSelectWatcher" class="col-lg-12">{{ l('Watchers') }}</label>
                                        <div class="col-12">
                                            <p-autoComplete [(ngModel)]="watchers"
                                                            [suggestions]="filteredWathers"
                                                            (completeMethod)="getUsers($event)"
                                                            (onSelect)="onSelect($event)"
                                                            field="displayName"
                                                            [minLength]="2"
                                                            name="MultiSelectWatcher"
                                                            id="MultiSelectWatcher"
                                                            [multiple]="true"
                                                            inputStyleClass="form-control"
                                                            styleClass="width-percent-100">
                                            </p-autoComplete>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="PaxTask_TaskType">{{ l('TaskType') }}</label>
                                        <select
                                            class="form-control"
                                            #PaxTask_TaskType="ngModel"
                                            name="TaskType"
                                            id="PaxTask_TaskType"
                                            [(ngModel)]="paxTask.taskType"
                                        >
                                            <option value="1">{{ l('Normal') }}</option>
                                            <option value="3">{{ l('DeadLine') }}</option>
                                            <option value="2">{{"Repeating" | localize}}</option>
                                        </select>
                                        <validation-messages [formCtrl]="PaxTask_TaskType"></validation-messages>
                                    </div>

                                    <div *ngIf="paxTask.taskType == 3" class="form-group">

                                        <label for="PaxTask_DeadLineDate">{{ l('DeadLineDate') }}</label>

                                        <p-calendar styleClass="width-percent-100" dateFormat="dd.mm.yy" [minDate]="minDateValue" [(ngModel)]="deadLineDate" name="deadLineDate" showTime="true" [hourFormat]="24"></p-calendar>
                                     
                                    </div>
                        
                                    <div *ngIf="paxTask.taskType == 2" class="form-group">
                                        <label for="PaxTask_TaskTypePeriod">{{ l('TaskTypePeriod') }}</label>
                                        <select
                                            class="form-control"
                                            #PaxTask_TaskTypePeriod="ngModel"
                                            name="TaskTypePeriod"
                                            id="PaxTask_TaskTypePeriod"
                                            [(ngModel)]="paxTask.taskTypePeriod">

                                            <option value="1">{{ l('Weekly') }}</option>
                        
                                            <option value="2">{{ l('Monthly') }}</option>
                                        </select>
                                        <validation-messages [formCtrl]="PaxTask_TaskTypePeriod"></validation-messages>
                                    </div>
                        
                                    <div *ngIf="paxTask.taskType == 2" class="form-group">
                                        <label for="PaxTask_PeriodInterval">{{ l('PeriodInterval') }}</label>
                                        <input
                                            type="number"
                                            #PaxTask_PeriodInterval="ngModel"
                                            id="PaxTask_PeriodInterval"
                                            class="form-control"
                                            [(ngModel)]="paxTask.periodInterval"
                                            name="PeriodInterval"
                                        />
                                        <validation-messages [formCtrl]="PaxTask_PeriodInterval"></validation-messages>
                                    </div>

                                    
                        
                                    <div class="form-group m-form__group">
                                        <label for="SeverityName">{{ l('Severity') }}</label>
                                        <select name="paxTask.severityId" [(ngModel)]="paxTask.severityId" class="form-control">
                                            <!-- <option value="">{{ l('SelectASeverity') }}</option> -->
                                            <option *ngFor="let item of allSeveritys" value="{{ item.id }}">
                                                {{ item.displayName }}
                                            </option>
                                        </select>
                                    </div>
                        
                                    <div class="form-group m-form__group">
                                        <label for="TaskStatusName">{{ l('TaskStatus') }}</label>
                                        <p-dropdown [options]="allTaskStatuss" [(ngModel)]="selectedStatus" styleClass="width-percent-100" name="selectedStatus" optionLabel="displayName">
                                            <ng-template pTemplate="selectedItem">                                           
                                                <div class="row h-100 p-0" *ngIf="selectedStatus">
                                                        <div class="col-12">
                                                            <img src="{{ serverUrl + selectedStatus.iconUrl }}" style="width: 20px; margin-right: 10px;" [class]="'flag flag-' + selectedStatus.displayName" />                                                       
                                                            {{selectedStatus.displayName}}
                                                        </div>
                                                </div>
                                            </ng-template>
                                            <ng-template let-taskStatus pTemplate="item">
                                                <div class="row">
                                                        <div class="col-12">
                                                            <img src="{{ serverUrl + taskStatus.iconUrl }}" style="width: 30px;" [class]="'flag flag-' + taskStatus.displayName" />
                                                            {{taskStatus.displayName}}
                                                    </div>
                                                </div>
                                            </ng-template>
                                        </p-dropdown>
                                        <!-- <select
                                            name="paxTask.taskStatusId"
                                            [(ngModel)]="paxTask.taskStatusId"
                                            class="form-control"
                                            required
                                        >
                                            <option value="">{{ l('SelectATaskStatus') }}</option>
                                            <option *ngFor="let item of allTaskStatuss" value="{{ item.id }}">
                                                {{ item.displayName }}
                                            </option>
                                        </select> -->
                                    </div>
                        
                                    <div class="form-group ">
                                        <label for="PaxTask_Header">{{ l('Header') }} *</label>
                                        <input
                                            type="text"
                                            #PaxTask_Header="ngModel"
                                            id="PaxTask_Header"
                                            class="form-control"
                                            [(ngModel)]="paxTask.header"
                                            name="Header"
                                            minlength="3"
                                            maxlength="150"
                                            required
                                        />
                                        <validation-messages [formCtrl]="PaxTask_Header"></validation-messages>
                                    </div>
                        
                                    <div id="aaa" style="height: 500px;" class="form-group ck-content">
                                        <label for="PaxTask_Details">{{ l('Details') }}</label>
                                        <ckeditor #PaxTask_Details="ngModel" [config]="editorConfiguration" (ready)="onReady($event,0)"  [(ngModel)]="paxTask.details" [editor]="Editor" name="Text" data="{{paxTask?.details}}"></ckeditor>
                                        <validation-messages  
                                        id="PaxTask_Details" [formCtrl]="PaxTask_Details"></validation-messages>
                                    </div>
                                </div>
                                
                            </form>
                            <paxTaskUserLookupTableModal
                                #paxTaskUserLookupTableModal
                                (modalSave)="getNewAssigneeId()"
                            ></paxTaskUserLookupTableModal>
                        </div>
                        <!--<Primeng-Datatable-End>-->
                    </div>
                </div>
            </div>

            <div *ngIf="paxTask.id" class="card card-custom gutter-b">
                <div class="card-body">
                    <tabset>
                        <tab heading=" {{'Comments' | localize}} ({{this.commentViews?.length}})">
                            <div class="row m-3">
                                <div class="col-xl-6">
                                    <p>{{"CommentExplanation" | localize}}</p>
                                </div>
                                <div class="col-xl-6 text-right">
                                    <button 
                                    (click)="toggleCommentCreate()"
                                    class="btn btn-primary"
                                        *ngIf="isGranted('Pages.Comments.Create')"
                                    >
                                    <i  class="fa fa-plus"></i>
                                        {{"CreateNewComment" | localize}}
                                    </button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12">
                                    <div [hidden]="!showCommentCreate" class="form-group">
                                        <label for="Comment_Text">{{ l('Details') }}</label>
                                        <ckeditor #Comment_Text="ngModel" [config]="editorConfiguration" [(ngModel)]="commentToCreateOrEdit.commentText" (ready)="onReady($event,0)" [editor]="Editorr" name="Text" data="{{commentToCreateOrEdit.commentText}}"></ckeditor>
                                        <div class="modal-footer">
                    
                                            <button
                                                    class="btn btn-primary font-weight-bold save-button"
                                                    [disabled]="!commentToCreateOrEdit.commentText || commentToCreateOrEdit.commentText.length == 0"

                                                    [buttonBusy]="saving"
                                                    (click)="saveComment(undefined)"
                                                    [busyText]="l('ProcessingWithThreeDot')">
                                                <i class="fa fa-arrow-circle-right"></i>
                                                <span>{{ l('Save') }}</span>
                                            </button>
                                        </div>
                                    </div>

                                    

                                    <div *ngIf="commentViews && commentViews.length > 0">

                                        <p-timeline style="padding-top: 20px;" [value]="commentViews" align="alternate" styleClass="customized-timeline">
                                            <!-- <ng-template pTemplate="marker" let-comment>
                                                <span class="custom-marker p-shadow-2" [style.backgroundColor]="selectedBGColors[6]">
                                                    <i class="pi pi-envelope"></i>
                                                </span>
                                            </ng-template> -->
                                            <ng-template pTemplate="content" let-comment>
                                                <p-card [header]="comment.userName" [subheader]="comment.creationTime">
                                                     <ckeditor
                                                        [editor]="Editorrr" 
                                                        [config]="editorConfiguration"
                                                        (ready)="onReady($event, comment.comment.id)" 
                                                        name="CommentText" 
                                                        [(ngModel)]="comment.comment.commentText"
                                                        data="{{comment.comment.commentText}}">
                                                    </ckeditor>

                                                    <div *ngIf="comment.comment.userId == cuRuserId" class="col-xl-6">
                                                        <button [hidden]="isCommentEditing" pButton label="{{'Edit' | localize}}" class="p-button-text" (click)="prepareForEdit(comment.comment.id, true)"></button>
                                                        <button pButton [hidden]="isCommentEditing" label="{{'Delete' | localize}}" class="p-button-text" (click)="deleteComment(comment.comment.id)"></button>
                                                        <button pButton [hidden]="!isCommentEditing" label="{{'Save' | localize}}" class="p-button-text" (click)="saveComment(comment.comment)"></button>
                                                        <button pButton [hidden]="!isCommentEditing" label="{{'Cancel' | localize}}" class="p-button-text" (click)="prepareForEdit(comment.comment.id,false)"></button>
                                                        <!-- <button 
                                                        [hidden]="isCommentEditing"
                                                        class="btn btn-primary btn-sm pull-right"  
                                                        (click)="prepareForEdit(commentView.comment.id, true)" >
                                                            {{"Edit" | localize}}
                                                        </button>                                               
                                                        <button [hidden]="isCommentEditing" class="btn btn-danger btn-sm pull-right" (click)="deleteComment(commentView.comment.id)" >
                                                            {{"Delete" | localize}}
                                                        </button>
                                                        <button [hidden]="!isCommentEditing" class="btn btn-success btn-sm pull-right" (click)="saveComment(commentView.comment)" >
                                                            {{"Save" | localize}}
                                                        </button>
                                                        <button [hidden]="!isCommentEditing" class="btn btn-secondary btn-sm pull-right" (click)="prepareForEdit(commentView.comment.id,false)" >
                                                            {{"Cancel" | localize}}
                                                        </button> -->
                                                    </div> 
                                                    <!-- <button pButton label="Read more" class="p-button-text"></button> -->

                                                </p-card>
                                            </ng-template>
                                        </p-timeline>

                                        <!-- <div class="form-group" *ngFor="let commentView of commentViews">
                                            <label for="comment_{{commentView.comment.id}}">{{commentView.userName}} - {{commentView.creationTime | luxonFormat:'F'}}</label>
                                            <ckeditor
                                                [editor]="Editorrr" 
                                                [config]="editorConfiguration"
                                                (ready)="onReady($event, commentView.comment.id)" 
                                                name="CommentText" 
                                                [(ngModel)]="commentView.comment.commentText"
                                                data="{{commentView.comment.commentText}}">
                                            </ckeditor>
                                            <div *ngIf="commentView.comment.userId == cuRuserId" class="col-xl-6">
                                                <button 
                                                [hidden]="isCommentEditing"
                                                class="btn btn-primary btn-sm pull-right"  
                                                (click)="prepareForEdit(commentView.comment.id, true)" >
                                                    {{"Edit" | localize}}
                                                </button>                                               
                                                <button [hidden]="isCommentEditing" class="btn btn-danger btn-sm pull-right" (click)="deleteComment(commentView.comment.id)" >
                                                    {{"Delete" | localize}}
                                                </button>
                                                <button [hidden]="!isCommentEditing" class="btn btn-success btn-sm pull-right" (click)="saveComment(commentView.comment)" >
                                                    {{"Save" | localize}}
                                                </button>
                                                <button [hidden]="!isCommentEditing" class="btn btn-secondary btn-sm pull-right" (click)="prepareForEdit(commentView.comment.id,false)" >
                                                    {{"Cancel" | localize}}
                                                </button>
                                            </div> 
                                        </div> -->

                                    </div>
                                </div>
                            </div>
                        </tab>


                        <tab heading="{{'History' | localize}} ({{this.historyRecs.length}})">

                                <p-timeline style="float: left; padding-top: 20px;" [value]="historyRecs">
                                    <ng-template pTemplate="content" let-history>
                                        <div [innerHTML]="history.changeText" class="web-log-view full-height"> </div>
                                    </ng-template>
                                    <ng-template pTemplate="opposite" let-history>
                                        <small class="p-text-secondary">{{ history.creationTime | luxonFormat: 'F' }}</small>
                                    </ng-template>
                                </p-timeline>

                            <!-- <div class="row" style="padding-top: 20px;" *ngFor="let history of historyRecs">
                                <div class="col-xl-12">
                                    {{ history.creationTime | luxonFormat: 'F' }}<div [innerHTML]="history.changeText" class="web-log-view full-height">                                        
                                    </div>
                                </div>
                            </div> -->
                        </tab>
                        <tab heading="{{'Attachments' | localize}} ({{this.uploadedFiles.length}})">
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="web-log-view full-height">

                                        <!-- <label for="DefaultFileUploadFileInput">Default file uploader</label> -->
                                        <p-fileUpload multiple="multiple"
                                                    id="DefaultFileUploadFileInput"
                                                    name="DefaultFileUploadFileInput[]"
                                                    [url]="uploadUrl"
                                                    chooseLabel='{{"ChooseAFile" | localize}}'
                                                    uploadLabel='{{"Upload" | localize}}'
                                                    cancelLabel='{{"Cancel" | localize}}'
                                                    accept="application/pdf,
                                                            application/vnd.ms-excel,
                                                            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,
                                                            application/msword,
                                                            application/vnd.openxmlformats-officedocument.wordprocessingml.document,
                                                            application/vnd.oasis.opendocument.text,
                                                            application/vnd.oasis.opendocument.spreadsheet,
                                                            image/*"
                                                    maxFileSize="5242880"
                                                    (onUpload)="onUpload($event)"
                                                    (onBeforeSend)="onBeforeSend($event)">

                                            <ng-template pTemplate="content">
                                                <ul *ngIf="uploadedFiles.length">
                                                    <li *ngFor="let file of uploadedFiles">
                                                        <a target="_blank" href="{{this.serverUrl + '/' + file.fileUrl}}">{{file.fileName}} - {{file.userName}} - {{ file.creationTime | luxonFormat: 'F' }}</a> 
                                                        <a (click)="deleteAttachment(file.id)" >
                                                            [X]
                                                        </a>
                                                    </li>
                                                </ul>
                                            </ng-template>
                                        </p-fileUpload>

                                    </div>
                                </div>
                            </div>
                        </tab>
                    </tabset>
                </div>
            </div>     


        </div>
    </div>
</div>
