.label-span {
    border-radius: 3px;
    padding: 0.25em 0.5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;
    background-color: #ffd8b2;
    color: #805b36;
}
